.footer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: var(--text-primary);
    gap: 1.3rem;
    padding: 2rem;
}

.name,
.basic,
.backlinks {
    font-family: "Lato";
    font-size: 18px;
}

.basic {
    font-size: 16px;
}

.backlinks {
    display: flex;
    gap: 1.6rem;
}

.items {
    position: relative;
    transition: color 0.3s ease;
    cursor: pointer;
    color: var(--text-primary)94;
}

.items::after {
    content: '';
    position: absolute;
    width: 0;
    height: 1px;
    bottom: -2px;
    left: 0;
    background-color: var(--accent-color);
    transition: width 0.3s ease;
}

.backlinks>.items:hover {
    color: var(--accent-color);
    cursor: pointer;
}

.items:hover::after {
    width: 100%;
}

@media (max-width: 768px) {

    .name,
    .basic,
    .backlinks {
        font-family: "Lato";
        font-size: 15px;
    }

}

@media (max-width: 425px) {

    .name,
    .basic,
    .backlinks {
        font-family: "Lato";
        font-size: 13px;
    }

}
